@font-face {
  font-family: "iconfont"; /* Project id 3574249 */
  src: url('@/static/icon/iconfont.woff2?t=1660191490951') format('woff2'),
       url('@/static/icon/iconfont.woff?t=1660191490951') format('woff'),
       url('@/static/icon/iconfont.ttf?t=1660191490951') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou:before {
  content: "\e630";
}

.icon-danxuankuang1:before {
  content: "\e62d";
}

.icon-danxuankuang:before {
  content: "\e61c";
}

.icon-anniu:before {
  content: "\e690";
}

.icon-fuwenbenkuang:before {
  content: "\e66f";
}

.icon-duoxuan:before {
  content: "\e63d";
}

.icon-textBox:before {
  content: "\e648";
}

.icon-riqixuanzeqi:before {
  content: "\e647";
}

.icon-xinjian:before {
  content: "\e64b";
}

